$cor-preta: #000;
$fonte-principal: "Inter", sans-serif;
$fonte-negrito: 700;
$cor-branca: white;
$cor-cinza: #404040;
$fonte-regular: 400;
$cor-cinza-claro: #959595;
$cor-cinza-normal: #828282;
$cor-cinza-transparencia: rgba(108, 117, 125, 0.50);
$cor-azul: #0984E3;
$cor-cinza-mais-claro: #D9D9D9;
$cor-link-menu: rgba(217, 217, 217, 0.50);
$cor-laranja: #FF8600;
$cor-azul-claro: #758BFD;
$cor-azul-marinho: #27187E;