@charset "UTF-8";
.cabecalho, aside .container_logo, aside .container_links ul li, td:first-child {
  display: flex;
  align-items: center;
}

aside .container_links ul li .imagem_dashboard, aside .container_links ul li .imagem_lista {
  width: 32px;
  height: 32px;
}

.grafico, .informacoes {
  background-color: #D9D9D9;
  border-radius: 28px;
  padding: 17px;
}
.grafico h3, .informacoes h3 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: white;
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100vh;
}

.cabecalho {
  justify-content: flex-end;
  padding: 10px;
  gap: 20px;
}

aside {
  padding: 10px;
  background-color: #404040;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 89px;
}
aside h1 {
  font-family: "Orelega One", cursive;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
aside .container_links ul li {
  gap: 20px;
  border-radius: 18px;
  padding: 5px;
  margin-bottom: 21px;
}
aside .container_links ul li:first-of-type {
  background-color: rgba(217, 217, 217, 0.5);
}
aside .container_links ul li .imagem_dashboard {
  background-image: url("./imagens/bxs_dashboard.png");
  display: inline-block;
}
aside .container_links ul li .imagem_lista {
  background-image: url("./imagens/lista.png");
  display: inline-block;
}

/* Aplicação da imagem que vai ao lado do texto no menu lateral
O imagem_lista também */
a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

table {
  margin-top: 40px;
  width: 80%;
  font-weight: 400;
  text-align: left;
  border-collapse: collapse;
}
table caption {
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
}

section {
  margin: 46px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

.tabela p {
  font-size: 12px;
  font-weight: 700;
  color: #959595;
}

th {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  color: #828282;
}

td {
  padding: 10px 0;
  border-top: 1px solid rgba(108, 117, 125, 0.5);
}
td:first-child {
  gap: 10px;
}

tr:hover {
  background-color: #959595;
}

button {
  margin-top: 37.5px;
  border-radius: 999px;
  background: #0984E3;
  padding: 15px;
  border: none;
  cursor: pointer;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  box-shadow: 0px 5px 15px 0px rgba(37, 44, 97, 0.15), 0px 2px 4px 0px rgba(136, 144, 194, 0.2);
}

.grafico ul {
  display: flex;
  justify-content: space-around;
  color: #000;
  font-weight: 400;
  align-items: flex-end;
}
.grafico ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grafico ul li:nth-child(1) div {
  width: 50px;
  height: 90px;
  background-color: #FF8600;
  border-radius: 18px;
}
.grafico ul li:nth-child(2) div {
  width: 50px;
  height: 119px;
  background-color: #758BFD;
  border-radius: 18px;
}
.grafico ul li:nth-child(3) div {
  width: 50px;
  height: 60px;
  background-color: #27187E;
  border-radius: 18px;
}

.informacoes ul {
  display: flex;
  justify-content: space-between;
  height: 70%;
}
.informacoes ul li {
  text-align: center;
  padding: 10px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  list-style-type: none;
  width: 20%;
}
.informacoes ul li img {
  margin-bottom: 10px;
}
.informacoes ul li:nth-child(1) {
  background-color: #FF8600;
}
.informacoes ul li:nth-child(2) {
  background-color: #758BFD;
}
.informacoes ul li:nth-child(3) {
  background-color: #27187E;
}
.informacoes ul li p:first-of-type {
  font-size: 32px;
}
.informacoes ul li p:last-child {
  font-size: 14px;
  font-weight: 400;
}

.numeros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 73px;
}
.numeros h3 {
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
